body {
	text-align: center;
	background-color: #E5E0D8;
	min-width: 300px;
}

div {
	border: 1px solid black;
}

.suggestions-cell {
	text-align: center;
	width: 101px;
	height: 101px;
	border: 1px solid black;
}

.suggestions-image {
	max-width: 100px;
	max-height: 100px;
}

.suggestions-image:hover {
	cursor: pointer;
}